*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1{
    color: white;
    margin-top: 30px;
    text-align: center;
}

.container{
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 20px;
    width: 90%;
    max-width: 600px;

}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

form button {
    flex: 1 1 100%;
    padding: 12px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;

}

form button:hover {
    background: #2a5298;
}

table{
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th{
    background: #1e3c72;
    color: white;
}

.no-data{
    text-align: center;
    color: #777;
    margin-top: 20px;
}

input, select{
    flex: 1 1 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}